
.form{
    display: flex;
    flex-direction: column;
}


.form input{
    background-color: white;    
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}